
#menu-bar {
    background-color: #6272A4; 
    color: #FFFFFF;
    font-size: 24px;           
}

#menu-item {
    background-color: #F8F8F2;
    color: #000000;
}

#main-box {
    background-color: #0A0D11;
    color: #FFFFFF;
    font-size: 24px;
}

#inner-box {
    background-color: #44475A;
    color: #FFFFFF;
    font-size: 24px;
}

#about-program {
    background-color: #44475A;
    color: #FFFFFF;
}

#temperature {
    font-size: 96px;
}

#about-program {
    font-size: 20px;
}
