
#menu-bar {
    background-color: #9A7372; 
    color: #FFFFFF;
    font-size: 24px;           
}

#menu-item {
    background-color: #DFDEBD;
    color: #000000;
}

#main-box {
    background-color: #4B4B4B;
    color: #FFFFFF;
    font-size: 24px;
}

#inner-box {
    background-color: #565656;
    color: #FFFFFF;
    font-size: 24px;
}

#about-program {
    background-color: #565656;
    color: #FFFFFF;
}

#temperature {
    font-size: 96px;
}

#about-program {
    font-size: 20px;
}
