
#menu-bar {
    background-color: #D8DEE9; 
    color: #FFFFFF;
    font-size: 24px;           
}

#menu-item {
    background-color: #434C5E;
    color: #000000;
}

#main-box {
    background-color: #81A1C1;
    color: #FFFFFF;
    font-size: 24px;
}

#inner-box {
    background-color: #3C4455;
    color: #FFFFFF;
    font-size: 24px;
}

#about-program {
    background-color: #3C4455;
    color: #FFFFFF;
}

#temperature {
    font-size: 96px;
}

#about-program {
    font-size: 20px;
}
